@import "../../../assets/scss/variables";


.expo-mobile-view {
  .expo-guide-wrapper {
    margin-right: 40px;
  }
  .expo-description {
      margin-bottom: 40px;
  }

  .go-button-wrapper {
    top: 0;
  }
}

.expo-mobile-top {
  margin-bottom: 40px;
}
