@import "assets/scss/variables";
@import "assets/scss/mixins";


.main-content {
  position: relative;
  height: $main-content-height;
  min-height: 1000px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  &.no-footer {
    height: auto;
  }
  @include media-breakpoint-down(md) {
    height: auto;
    overflow: hidden;
    min-height: $main-content-height;
  }
}
